#backpack {
  position: fixed;
  top: 0;
  left: 0;

  background-color: #0000006f;
  backdrop-filter: blur(3px);
  width: 100vw;
  height: 100vh;
  display: none;

  &.visible {
    display: block;
  }

  & .backpack_container {
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 80vw;
    max-height: 80vh;
    height: 80vh;

    & > .header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 2rem;

      & h2 {
        padding: 0.5rem;
        text-transform: capitalize;
        font-weight: 700;
        background-color: var(--color-white);
      }

      & .close_btn {
        width: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: var(--color-white);
        aspect-ratio: 1;
      }
    }

    & .content {
      display: flex;
      gap: 2rem;
      justify-content: space-between;
      flex-grow: 1;
      max-height: 60vh;

      & .backpack {
        max-height: 100%;
        overflow-y: auto;
        max-width: 70%;
        flex-grow: 1;
        display: flex;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
        gap: 0.5rem;

        & .selected {
          background-color: #c4c2c2;
          pointer-events: none;
        }
      }
    }
  }
}
