:root {
  font-size: 16px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

button {
  appearance: none;
  outline-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

#canvas {
  position: fixed;
  height: 100vh;
  width: 100vw;
}

#chat_bubble {
  position: fixed;
  bottom: 0;
  right: 0;
  width: calc(100vw - 2rem);
  min-width: 300px;
  padding: 2rem 3rem;
  background-color: #ffffff;
  margin: 1rem;
  border-radius: 0.5rem;
  transition: 0.2s ease-in-out;
  scale: 0;
  transform-origin: bottom;
}

#chat_bubble.visible {
  scale: 1;
}

#chat_bubble .chat_container {
  min-height: 4em;
}

#chat_bubble .author {
  font-weight: 600;
  font-size: 1.65rem;
  margin-bottom: 0.5em;
  text-transform: capitalize;
}

#chat_bubble .chat {
  font-size: 1rem;
  line-height: 1.5em;
  max-width: 80%;
}

#chat_bubble .btn_container {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

#chat_bubble .btn {
  --btn-bg-col: rgb(73, 255, 146);
  padding: 0.5rem 1.5rem;
  border-radius: 0.35rem;
  font-weight: 500;
  font-weight: 600;
  font-size: 1.15rem;
  text-transform: capitalize;
  background-color: var(--btn-bg-col);
  display: none;
  color: #071d02;
}

#chat_bubble .btn:active {
  background-color: rgb(61, 213, 122);
}

#chat_bubble .btn:hover,
#chat_bubble .btn:focus {
  outline-color: var(--btn-bg-col);
  outline-offset: 4px;
  outline-width: 4px;
}

#chat_bubble .btn.visible {
  display: inline;
}

#interactive_container {
  position: fixed;
  top: 50%;
  left: calc(50% + 3rem);
  translate: 0 -50%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.interaction {
  display: none;
}

.interaction.visible {
  display: flex;
}

.interaction .action_btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #071d02;
  color: #ffffff;
  border: 1px solid #fff;
  padding: 0.5rem 1rem;
}

.action_btn .key {
  text-transform: uppercase;
  font-weight: 700;
}

.interaction .label {
  font-weight: 500;
}
